# ============================================================
# OSLER — Variables de entorno (copia este archivo a .env)
# ============================================================

# Puerto del servidor
PORT=8080

# Base de datos MySQL
DB_HOST=shinkansen.proxy.rlwy.net
DB_PORT=32239
DB_NAME=railway
DB_USER=root
DB_PASSWORD=wYlsrVxIuaoSCmFdfGkoweeYpCAgLBeZ

# JWT
JWT_SECRET=OslerSecretKey2024$SuperSegura$CambiarEnProduccion$EntornosProg
JWT_EXPIRES_IN=24h

# CORS – origen(es) permitido(s) del frontend
CORS_ORIGIN=http://localhost:5173
